<h3 class="genTitle genTitleBot"><em></em><span>借出单新建</span></h3>
<div class="cusCont">
    <div class="generForm">
        <form novalidate name="invoiceForm">
            <ul>
                <!--<li class="tli">
                    <strong><font>*</font>借出单号：</strong>
                    <input required ng-model="ORDER_DATA.code" type="text" placeholder="保留两位小数"/>
                </li>
                <li class="tli">
                    <strong>申请日期：</strong>
                    <input required ng-model="ORDER_DATA.lendbase.start" type="text" placeholder="保留两位小数"/>
                </li>
                -->
                <li class="tli">
                    <strong><font>*</font>业务员（销售员）：</strong>
                    <input ng-readonly="true" ng-click="userBox()" ng-required="true" ng-model="ORDER_DATA.user.name" name="username" type="text" placeholder="请选择业务员"/>
                    <input type="hidden" value="" ng-model="ORDER_DATA.user.id"/>
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.username.$dirty && invoiceForm.username.$error.required">必填</span>-->
                </li>
                <li class="tli">
                    <strong><font>*</font>部门：</strong>
                    <input ng-required="true" ng-disabled="true" ng-model="ORDER_DATA.department.name" type="text" placeholder="保留两位小数"/>
                    <input type="hidden" value="" ng-model="ORDER_DATA.department.id"/>
                </li>
                <li class="tli">
                    <strong><font>*</font>借出类型：</strong>
                    <select ng-model="ORDER_DATA.lendbase.lendtype" name="lendtype" ng-required="true">
                        <option value="">请选择</option>
                        <option value="售前测试">售前测试</option>
                        <option value="售后借用">售后借用</option>
                    </select>
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.lendtype.$dirty && invoiceForm.lendtype.$error.required">必填</span>-->
                </li>
                <li class="tli">
                    <strong><font>*</font>产品线：</strong>
                    <input ng-required="true" ng-model="ORDER_DATA.lendbase.productline" name="productline" ui-autocomplete="productOption" type="text" placeholder="请输入产品线"/>
                    <input ng-model="ORDER_DATA.lendbase.productlineid" type="hidden"/>
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.productline.$dirty && invoiceForm.productline.$error.required">必填</span>-->
                </li>
                <li class="tli">
                    <strong><font>*</font>是否有借货合同：</strong>
                    <select ng-model="ORDER_DATA.lendbase.hascontract" name="hascontract" ng-required="true">
                        <option value="">请选择</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.hascontract.$dirty && invoiceForm.hascontract.$error.required">必填</span>-->
                </li>
                <li class="tli">
                    <strong><font>*</font>借出起始日期：</strong>
                    <input class="text Wdate" type="text" name="start" ng-required="true" date-Picker ng-readonly="true"  ng-model="ORDER_DATA.lendbase.start" placeholder="请选择日期">
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.start.$dirty && invoiceForm.start.$error.required">必填</span>-->
                </li>
                <li class="tli">
                    <strong><font>*</font>预计归还日期：</strong>
                    <input class="text Wdate" type="text" name="end" ng-required="true" date-Picker ng-readonly="true" ng-model="ORDER_DATA.lendbase.end" placeholder="请选择日期">
                    <input ng-disabled="true" class="text" type="text"  ng-model="ORDER_DATA.lendbase.end" name="end" placeholder="">
                </li>
                <!--<li class="tli">
                    <strong><font>*</font>借货天数：</strong>
                    <input class="text" type="number"  ng-model="ZJHRQ" placeholder="">预计归还日期-借出起始日期
                </li>-->
                <li class="tli">
                    <strong><font>*</font>借出客户名称：</strong>
                    <input ng-readonly="true" ng-click="cusBox()" ng-required="true" ng-model="ORDER_DATA.client.name" type="text" placeholder="请选择客户名称"/>
                    <input ng-readonly="true" ng-required="true" ng-model="ORDER_DATA.client.id" type="hidden" placeholder=""/>
                </li>
                <li class="tli">
                    <strong><font>*</font>借货人：</strong>
                    <input class="text" type="text"  ng-model="ORDER_DATA.client.contact" name="clientname" ng-required="true" placeholder="">
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.clientname.$dirty && invoiceForm.clientname.$error.required">必填</span>-->
                </li>
                <li class="tli">
                    <strong><font>*</font>库房：</strong>
                    <select ng-model="ORDER_DATA.room.id" name="roomid" ng-required="true">
                        <option value="">请选择</option>
                        <option value="BJ12">北京海龙库房样机库</option>
                        <option value="BJ24">北京飞力士库房样机库</option>
                        <option value="BJ25">北京新库样机库</option>
                        <option value="SH13">上海样机库</option>
                        <option value="SZ13">深圳样机库</option>
                    </select>
                    <!--<span class="errTip ng-hide" ng-show="invoiceForm.roomid.$dirty && invoiceForm.roomid.$error.required">必填</span>-->
                </li>
                <li class="clear"></li>
                <li class="formUpStyle">
                    <strong>上传附件：</strong>
                    <input url="/resource/uploadfile" uploadify-All btnname="上传附件" type="file"  ng-model="ORDER_DATA.attachment" placeholder="">
                    <a target="_blank" class="link" href="{{ORDER_DATA.attachment}}">{{ORDER_DATA.attachment}}</a>
                </li>
                <li class="clear"></li>
                <li><strong>借货说明：</strong><textarea ng-model="ORDER_DATA.des"></textarea></li>
            </ul>
            <div class="addTable">
                <h5>借出产品信息</h5>
                <table id="proList">
                    <tr>
                        <th>内部物料编码</th>
                        <th>原厂物料编码</th>
                        <th>型号</th>
                        <th>描述</th>
                        <th>借货数量</th>
                        <th>进库交易批次</th>
                        <th><a href="javascript:;" ng-click="produAdd()" title="添加" class="btnAdd"></a></th>
                    </tr>
                    <tr ng-repeat="list in ORDER_DATA.products" class="list">
                        <td>
                            <input ng-click="jccpxinBox($index)" placeholder="点击请选择" ng-model="list.code" type="text" ng-readonly="true" ng-click="cgData($index)"/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.productcode" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.productnumber" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.des" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.outnum" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.batchid" type="text" value=""/>
                        </td>
                        <td><a href="javascript:;" ng-click="comeDel($index)">删除</a></td>
                    </tr>
                    <!--<tr><td colspan="3">采购订单合计：</td></tr>-->
                </table>
            </div>
            <div class="gerSub">
                <a href="index.html#/loanBillOrder">返回</a>
                <button ng-click="addData(ORDER_DATA, 'save')"  ng-class="invoiceForm.$invalid == true ? 'displaySub' : 'subSave'" ng-disabled="invoiceForm.$invalid || invoRready">保存</button>
                <button ng-click="addData(ORDER_DATA, 'apply')"  ng-class="invoiceForm.$invalid == true ? 'displaySub' : 'subApply'" ng-disabled="invoiceForm.$invalid || invoRready">保存并提交</button>
                <!--<button ng-click="addData(ORDER_DATA, 'save')" class="subSave" >保存</button>
                <button ng-click="addData(ORDER_DATA, 'apply')" class="subApply" >保存并提交</button>-->
            </div>
        </form>
    </div>
</div>

<div id="userBox" class="dialog cusBox" title="选择人员" ng-include="'template/loanBill/userBox.html'" ng-controller="userLoanBoxCtrl"></div>
<div id="cusBox" class="dialog cusBox" title="选择客户" ng-include="'template/loanBill/cusBox.html'" ng-controller="cusLoanBoxCtrl"></div>
<div id="wlBox" class="dialog cusBox" title="选择物料" ng-include="'template/loanBill/wlBox.html'" ng-controller="selectProductBoxCtrl"></div>



