<!--<div class="mainright">-->
<div class="item">借出还回</div>
<form>
    <div class="genSearch">
        <table>
            <tr>
                <td>
                    <strong>借出还回单号</strong>
                    <input class="text" type="text"  ng-init="rtcode=''" ng-model="rtcode" placeholder="请输入借出还回单号">
                </td>
                <td>
                    <strong>借出单编号</strong>
                    <input class="text" type="text"  ng-init="code=''" ng-model="code" placeholder="请输入借出单编号">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>借出客户名称</strong>
                    <input class="text" type="text"  ng-init="clientname=''"  ng-model="clientname" placeholder="请输入借出客户名称">
                </td>
                <td>
                    <strong>借货人</strong>
                    <input class="text" type="text"  ng-init="username=''"  ng-model="username" placeholder="请输入借贷人">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="查询" class="searchbtn2" ng-click="search()">
                    <a class="searchbtn2 searchbtn2bot" href="/index.html#/loanBillOrder">返回借出单</a>
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="item">查询结果</div>
<table class="orangestyle table">
    <thead>
    <tr>
        <th>还回单编号</th>
        <th>借出单编号</th>
        <th>借货客户名称</th>
        <th>借货人</th>
        <th>产品线</th>
        <th>预计到货时间</th>
        <th style="width: 30px;">操作</th>
    </tr>
    </thead>
    <tbody ng-class="dataList.length > 0 ? 'meg' : 'noMegTip'">
    <tr ng-repeat="list in dataList">
        <!--<td>{{list.pdreturn.rtcode}}</td>-->
        <td>
            <a target="_blank" class="underline" href="index.html#/returnBillOrderView?code={{list.code}}&rtcode={{list.pdreturn.rtcode}}">{{list.pdreturn.rtcode}}</a>
        </td>
        <td>{{list.code}}</td>
        <td>{{list.client.name | cutfield:true:18:'...'}}</td>
        <td>{{list.user.name}}</td>
        <td>{{list.lendbase.productline}}</td>
        <td>{{list.pdreturn.estimatetime | date: 'yyyy-MM-dd'}}</td>
        <td class="czBtn padL12">
            <a target="_blank" class="handleBtn detailBtn" href="index.html#/returnBillOrderView?code={{list.code}}&rtcode={{list.pdreturn.rtcode}}" title="详情"></a>
        </td>
    </tr>
    <tr class="tip"><td colspan="7">没有查到借出还回单</td></tr>
    </tbody>
</table>
<pagination conf="paginationConf"></pagination>

