<h3 class="genTitle"><em></em><span>审批借出单还回</span></h3>
<ul class="generNav">
    <li class="active"><a href="javascript:;">借出单还回</a></li>
</ul>

<div id="mainView">
    <div class="viewTable ng-scope">
        <ul>
            <li><strong>借出还回单编号：</strong><span>{{ORDER_DATA.pdreturn.rtcode}}</span></li>
            <!--<li><strong>销售订单编号：</strong><span>{{ORDER_DATA.code}}</span></li>-->
            <li><strong>借出单编号：</strong><span>{{ORDER_DATA.code}}</span></li>
            <li><strong>借出单销售订单号：</strong><span>{{ORDER_DATA.ZJCDH}}</span></li>
            <li><strong>借货人：</strong><span>{{ORDER_DATA.user.name}}</span></li>
          <li><strong>实际借出客户：</strong><span>{{ORDER_DATA.client.realname}}</span></li>
          <li><strong>发货人：</strong><span>{{ORDER_DATA.pdreturn.shipper}}</span></li>
            <li><strong>发货地点：</strong><span>{{ORDER_DATA.pdreturn.shipperaddr}}</span></li>
            <li><strong>产品线：</strong><span>{{ORDER_DATA.lendbase.productline}}</span></li>
            <li><strong>运输方式：</strong><span>{{transferway}}</span></li>
            <li><strong>发货人联系方式：</strong><span>{{ORDER_DATA.pdreturn.shippertel}}</span></li>
            <li><strong>发货时间：</strong><span>{{ORDER_DATA.pdreturn.shipdate}}</span></li>
            <li><strong>预计到货时间：</strong><span>{{ORDER_DATA.pdreturn.estimatetime}}</span></li>
            <li class="list_con"><strong>备注：</strong><span>{{ORDER_DATA.pdreturn.rtdesc}}</span></li>
        </ul>
        <div class="addTable">
            <h5>交货地点和联系人</h5>
            <table class="tab_data">
                <thead class="tab_header">
                <tr>
                    <th>收货人姓名</th>
                    <th>手机号</th>
                    <th>固定电话</th>
                    <th>省</th>
                    <th>市</th>
                    <th>详细地址</th>
                    <th>邮编</th>
                </tr>
                </thead>
                <tbody class="tab_body">
                <tr ng-repeat="list in ORDER_DATA.pdreturn.rtreceivers">
                    <td>{{list.name}}</td>
                    <td>{{list.phone}}</td>
                    <td>{{list.tel}}</td>
                    <!--<td>{{list.province ? getField(countryData, 'CODE',list.province).TITLE : list.province}}</td>-->
                    <!--<td>{{list.city ? getField(countryData, 'CODE',list.city).TITLE : list.city}}</td>-->
                    <td>{{list.province | province:countryData}}</td>
                    <td>{{list.city | province:countryData}}</td>
                    <td>{{list.address}}</td>
                    <td>{{list.zipcode}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="addTable">
            <h5>产品信息</h5>
            <table class="tab_data">
                <thead class="tab_header">
                <tr>
                    <th>内部物料编码</th>
                    <th>原厂物料编码</th>
                    <th>型号</th>
                    <th>描述</th>
                    <th>借货数量</th>
                    <th>未还数量</th>
                    <th>本次还回数量</th>
                </tr>
                </thead>
                <tbody class="tab_body">
                <tr ng-repeat="list in ORDER_DATA.pdreturn.products">
                    <td>{{list.code}}</td>
                    <td>{{list.productcode}}</td>
                    <td>{{list.productnumber}}</td>
                    <td>{{list.des}}</td>
                    <td>{{list.outnum}}</td>
                    <td>{{list.notreturn}}</td>
                    <td>{{list.currentreturn}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="clear"></div>
    <div class="gerSub">
        <a class="subSave" href="index.html#/returnBillOrderEdit?processId={{processId}}&nodeId={{nodeId}}" ng-if="editBtn">编辑</a>
    </div>
    <div class="apCot" ng-if="apCot" >
        <div ng-include="'template/common/apply.html'"></div>
    </div>
</div>
