<form>
    <div class="genSearch">
        <table>
            <tr>
                <td>
                    <strong>申请单号</strong>
                    <input style="width:210px;" class="text" type="text" ng-init="$parent.code=''" ng-model="$parent.code" placeholder="请输入单号">
                </td>
                <td>
                    <strong>项目名称</strong>
                    <input style="width:210px;" class="text" type="text" ng-init="$parent.clientname=''"  ng-model="$parent.clientname" placeholder="请输入项目名称">
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="width:120px;">供应商订单号</strong>
                    <input style="width:210px;" class="text" type="text" ng-init="$parent.supplierorderid=''"  ng-model="$parent.supplierorderid" placeholder="供应商订单号">
                </td>
                <td>
                    <input type="button" value="查询" class="searchbtn2" ng-click="cbfxSearch()">
                </td>
            </tr>
        </table>
    </div>
</form>
<table class="orangestyle table zTable" id="cgsqfxdTable">
    <thead>
    <tr>
        <th><span ng-click="allCheck($event)" class="allCheck"></span></th>
        <th>采购申请单号</th>
        <!--<th>供应商订单号</th>-->
        <th>供应商名称</th>
        <th>项目名称</th>
        <th>产品线</th>
        <th>采购申请金额</th>
        <th>供应商订单号</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody ng-class="cpfxcgList.length > 0 ? 'meg' : 'noMegTip'">
    <tr ng-repeat="list in cpfxcgList">
        <td><span ng-click="zCheck($event)" class="zCheck"></span></td>
        <td>{{list.purchaseorderid}}</td>
        <!--<td>{{list.supplierorderid}}</td>-->
        <td>{{list.supplier}}</td>
        <td>{{list.project}}</td>
        <td>{{ZZCP[list.productline]}}</td>
        <td>{{list.money}}</td>
        <td>{{list.supplierorderid}}</td>
        <td>
            <a href="index.html#/purchaseView/{{list.purchaseorderid}}" target="_blank">查看</a>
        </td>
    </tr>
    <tr class="tip"><td colspan="7">没有查到</td></tr>
    </tbody>
</table>
