<form>
    <div class="genSearch">
        <table>
            <tr>
                <td>
                    <strong style="width:120px;">提前归还日期</strong><!--开立日+授信业务期限(天)-->
                    <input class="text Wdate" style="width:165px" date-Picker ng-readonly="true" type="text"  ng-init="$parent.dtqDate=''" ng-model="$parent.dtqDate" placeholder="">
                </td>
            </tr>
            <tr>
                <td>
                    <strong style="width:110px;">额度审核人</strong>
                    <input class="text" style="width:175px" ng-disabled="true" type="text"  ng-init="$parent.shrUserName=''" ng-model="$parent.shrUserName" placeholder="">
                    <input type="hidden" ng-model="$parent.shrUserId"/>
                    <input type="hidden" ng-model="$parent.shrUser"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="确定" class="searchbtn2" ng-click="bhtqthsx(dtqDate, shrUser, shrUserId)">
                    <input type="button" value="关闭" class="searchbtn2" ng-click="closeBhtqth()">
                </td>
            </tr>
        </table>
    </div>
</form>
