<h3 class="genTitle"><em></em><span>维修采购查询</span></h3>
<form>
    <div class="genSearch">
        <table>
            <tr>
                <td>
                    <strong>供应商名称</strong>
                    <input type="text" class="text" ng-model="NAME1" ng-init="NAME1=''"/>
                </td>
                <td>
                    <strong>采购订单号</strong>
                    <input type="text" class="text" ng-model="EBELN" ng-init="EBELN=''"/>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>客户订单号</strong>
                    <input type="text" class="text" ng-model="ZZPO" ng-init="ZZPO=''"/>
                </td>
                <td>
                    <strong>创建者</strong>
                    <input type="text" class="text" ng-model="ERNAM" ng-init="ERNAM=''"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="查询" class="searchbtn2" ng-click="search()">
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="item ng-scope">查询结果</div>
<!--<div class="viewTable ng-scope">
    <table class="tab_data">-->
<table class="orangestyle table">
    <thead class="tab_header">
        <tr>
            <th>采购组织</th>
            <th>供应商名称</th>
            <th>采购订单号</th>
            <th>客户订单号</th>
            <th>采购订单凭证类型</th>
            <th>采购凭证日期</th>
            <th>产品线</th>
            <th>合同总金额</th>
            <th>运输方式</th>
            <th>创建者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="tab_body">
            <tr ng-repeat="list in dataList">
                <td><span title="{{EKORG}}">{{EKORG | cutfield:true:8:'...'}}</span></td>
                <td><span title="{{list.NAME1}}">{{list.NAME1 | cutfield:true:8:'...'}}</span></td>
                <td>{{list.EBELN}}</td>
                <td>{{list.ZZPO}}</td>
                <td>{{BSART}}</td>
                <td>{{list.BEDAT| date: 'yyyy-MM-dd'}}</td>
                <td>{{list.ZZCP}}</td>
                <td>{{list.ZZZJY - list.ZZSBFD + list.ZZFWFD}}</td>
                <td>{{list.ZZYS}}</td>
                <td>{{list.ERNAM}}</td>
                <td class="czBtn">
                    <a class="handleBtn printBtn" href="/print/print.html?uri=/wxpo/printview&EBELN={{list.EBELN}}" target="_blank" title="打印"></a>
                    <a class="handleBtn detailBtn" target="_blank" href="index.html#/purMaintainView/{{list.EBELN}}" title="详情"></a>
                </td>
            </tr>
        </tbody>
    </table>
<!--</div>-->
<pagination conf="paginationConf"></pagination>
