
<!--<div class="wrap clearfix main">-->
    <!--<div class="c-leftnav"></div>-->
    <!--<div class="c-wrap">-->
        <h3 class="ct">修改登录密码</h3>
        <form class="c-mod">
            <div class="line">
                <span class="label">原密码：</span>
                <input class="txt" type="password" name="psw" placeholder="请输入原始密码">
                <span class="error hidden"></span>
            </div>
            <div class="line">
                <span class="label">新密码：</span>
                <input class="txt" type="password" name="newpsw" placeholder="请输入新密码">
                <span class="error hidden"></span>
            </div>
            <div class="line">
                <span class="label">确认新密码：</span>
                <input class="txt" type="password" name="renewpsw" placeholder="请再次输入新密码">
                <span class="error hidden"></span>
            </div>
            <input type="button" class="btn" value="确认修改">
        </form>
    <!--</div>-->
<!--</div>-->