<h3 class="genTitle"><em></em>
  <span>部门担保</span>
  <span ng-if="activeTab == 2">审批详情</span>
</h3>
<ul class="generNav">
  <li ng-class="{active:activeTab == 1}"><a href="javascript:void(0);" ng-mousedown='htTab(1)'>部门担保查看</a></li>
  <li ng-class="{active:activeTab == 2}"><a href="javascript:void(0);" ng-mousedown='htTab(2)'>审批详情</a></li>
</ul>
<div id="mainView">
  <div ng-if="activeTab == 1">
    <div class="viewTable ng-scope">
        <ul>
            <li ng-if="ORDER_DATA.code!= '' ? true : false"><strong>部门担保申请号：</strong><span>{{ORDER_DATA.code}}</span></li>
            <li ng-if="ORDER_DATA.orgname!= '' ? true : false"><strong>申请人部门：</strong><span>{{ORDER_DATA.orgname}}</span></li>
            <li ng-if="ORDER_DATA.creatdate!= '' ? true : false"><strong>日期：</strong><span>{{ORDER_DATA.creatdate| date: 'yyyy-MM-dd '}}</span></li>
            <!--<li><strong>关联单据类型：</strong><span>{{ORDER_DATA.billtype}}</span></li>
            <li><strong>关联单据号：</strong><span>{{ORDER_DATA.billno}}</span></li>-->
            <li><strong>销售合同号：</strong><span>{{ORDER_DATA.contractno}}</span></li>
            <li><strong>销售人员：</strong><span>{{ORDER_DATA.salesname}}</span></li>
            <li><strong>销售部门：</strong><span>{{ORDER_DATA.salesorgname}}</span></li>
            <li><strong>事业部：</strong><span>{{ORDER_DATA.salesorgname2}}</span></li>
            <li><strong>客户名称：</strong><span>{{ORDER_DATA.stomer}}</span></li>
            <li><strong>合同金额：</strong><span>{{ORDER_DATA.contractmoney}}</span></li>
            <li><strong>担保金额：</strong><span>{{ORDER_DATA.assuremoney| currency : '￥'}}</span></li>
            <li><strong>担保比例：</strong><span>{{ORDER_DATA.assurebl}}</span></li>
            <li><strong>释放金额：</strong><span>{{ORDER_DATA.freemoney| currency : '￥'}}</span></li>
            <li><strong>是否已释放：</strong><span>{{ORDER_DATA.isfree}}</span></li>
            <li><strong>未释金额：</strong><span>{{(ORDER_DATA.assuremoney-ORDER_DATA.freemoney)| currency : '￥'}}</span></li>
            <li><strong>部门担保额度：</strong><span>{{ORDER_DATA.deptlimit| currency : '￥'}}</span></li>
            <li><strong style="width: 141px">部门担保已使用额度：</strong><span>{{ORDER_DATA.deptused| currency : '￥'}}</span></li>
            <li><strong>部门担保剩余额度：</strong><span>{{ORDER_DATA.deptunused| currency : '￥'}}</span></li>
            <li><strong>创建人：</strong><span>{{ORDER_DATA.creator.name }}</span></li>
            <li><strong>申请人：</strong><span>{{ORDER_DATA.proposer}}</span></li>
            <li class="clear"></li>
            <li class="list_con" ><strong>备注：</strong><span>{{ORDER_DATA.remark}}</span></li>

        </ul>
        <div class="addTable" >
            <h5>释放明细</h5>
            <table class="tab_data">
                <thead class="tab_header">
                <tr>
                    <th>释放类型</th>
                    <th>释放金额</th>
                    <th>释放人</th>
                    <th>释放日期</th>
                </tr>
                </thead>
                <tbody class="tab_body">
                <tr ng-repeat="list in sfList">
                    <td>{{list.sfType}}</td>
                    <td>{{list.sfje| number:2}}</td>
                    <td>{{list.sfr}}</td>
                    <td>{{list.sfDate| date: 'yyyy-MM-dd '}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="applyLog" ng-if="activeTab == 2">
    <table>
      <thead>
      <tr>
        <th class="th1">审批人</th>
        <th class="th2">审批时间</th>
        <th class="th3">审批状态</th>
        <th class="th4">审批意见</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="list in processlog">
        <td>{{list.sender.name}}</td>
        <td>{{list.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{list.operation}}</td>
        <td>{{list.content.comment}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
