<h3 class="genTitle"><em></em>
    <span>进出口采购订单</span>
    <span ng-if="activeTab == 2">审批详情</span>
</h3>
<ul class="generNav">
    <li ng-class="{active:activeTab == 1}"><a href="javascript:void(0);" ng-mousedown='htTab(1)'>进出口采购订单</a></li>
    <li ng-class="{active:activeTab == 2}"><a href="javascript:void(0);" ng-mousedown='htTab(2)'>审批详情</a></li>
</ul>
<div id="mainView">
    <ul class="btnwrap">
        <li class="btnList">
            <a class="moreBtn">关联单据查询 <i class="triangle"></i></a>
            <ul class="subBtnlist subBtn">
                <li><a href="javascript:;" ng-click="viewPurchase()">查看采购申请</a></li>
                <li ng-if="opprev.purOrder_doc"><a target="_blank" href="/index.html#/docDownload/{{purchaseList.EBELN}}">查看电子文档</a></li>
                <li><a target="_blank" href="javascript:;" ng-click="contractdetails($event,purchaseList.ZZPO,purchaseList.ZZSDPO)">查看销售详情</a></li>
            </ul>
        </li>
    </ul>
    <div class="viewTable ng-scope" ng-if="activeTab == 1">
        <ul>
            <li><strong>公司代码：</strong><span>{{BUKRS}}</span></li>
            <li><strong>采购订单号：</strong><span>{{purchaseList.EBELN}}</span></li>
            <!---->
            <li><strong>采购订单凭证类型：</strong><span>{{BSART}}</span></li>
            <li><strong>采购凭证日期：</strong><span>{{purchaseList.BEDAT}}</span></li>
            <li><strong>采购组织：</strong><span>{{EKORG}}</span></li>
            <li><strong>采购组：</strong><span>{{EKGRP}}</span></li>
            <li><strong>供应商描述：</strong><span>{{purchaseList.LIFNR_NAME + purchaseList.LIFNR_NAME2}}</span></li>
            <li><strong>供应商订单号：</strong><span>{{purchaseList.ZZPO}}</span></li>
            <li><strong>最终客户名称：</strong><span>{{purchaseList.ZZKH}}</span></li>
            <li><strong>采购合同编号：</strong><span>{{purchaseList.ZZCYPO}}</span></li>
            <li><strong>销售订单号：</strong><span>{{purchaseList.ZZSDPO}}</span></li>
            <li><strong>操作标识：</strong><span>{{{'I':'新增','U':'修改','D':'作废'}[purchaseList.ZOPERATION] || purchaseList.ZOPERATION}}</span></li>
            <li><strong>贸易方式：</strong><span>{{purchaseList.ZZMYFS}}</span></li>
            <li><strong>境外交货方式：</strong><span>{{purchaseList.ZZJWJH}}</span></li>
            <li><strong>是否有境外第三方：</strong><span>{{{'X':'是','':'否'}[purchaseList.ZZJWSK]}}</span></li>
            <li><strong>是否是双方合同：</strong><span>{{{'X':'是','':'否'}[purchaseList.ZZSFHT]}}</span></li>
            <li><strong>境外采购付款方式：</strong><span>{{ZZJWCP}}</span></li>
            <!--<li><strong>贸易条款：</strong><span>{{purchaseList.ZZMY}}</span></li>-->
            <li><strong>最迟交货期：</strong><span>{{purchaseList.ZZJHDA}}</span></li>
            <li><strong>报关金额：</strong><span>{{purchaseList.ZZBGJJ | number : 2}}</span></li>
            <li><strong>结算方式：</strong><span>{{purchaseList.ZZJSFS}}</span></li>
            <li><strong>到货口岸：</strong><span>{{purchaseList.ZZDHKA}}</span></li>
            <li><strong>启运国别：</strong><span>{{purchaseList.ZZQYGB}}</span></li>
            <!--<li><strong>交货口岸：</strong><span>{{purchaseList.ZZFJ}}</span></li>-->
            <li><strong>产品线：</strong><span>{{ZZCP}}</span></li>
            <li><strong>币别：</strong><span>{{WAERS}}</span></li>
            <li><strong>合同金额：</strong><span>{{purchaseList.ZZZJY}}</span></li>
            <li><strong>申请人：</strong><span>{{purchaseList.ZZSQR}}</span></li>
            <li><strong>关务人员：</strong><span>{{purchaseList.ZZGWRY}}</span></li>
            <li><strong>原厂供应商：</strong><span>{{purchaseList.ZZCYVD}}</span></li>
            <li><strong>创建者：</strong><span>{{purchaseList.ERNAM}}</span></li>
            <li><strong>是否提前下单：</strong><span>{{purchaseList.ZZTQXD}}</span></li>
            <li class="list_con"><strong>采购订单清单：</strong><span style="text-decoration: underline;cursor: pointer" ng-click="show()">展开详细采购清单∨</span></li>
        </ul>
        <table class="tab_data" ng-show="emerge">
            <thead class="tab_header">
            <tr>
                <th>行项目</th>
                <th>物料组</th>
                <th>物料编码</th>
                <th>物料描述</th>
                <th>数量</th>
                <th>单位</th>
                <th>税率</th>
                <th>小计</th>
                <th>交货日期</th>
                <th>退货标示</th>
            </tr>
            </thead>
            <tbody class="tab_body">
            <tr ng-repeat="list in dataList">
                <td>{{list.EBELP}}</td>
                <td>{{list.MATKL | getName:enumobj:'name':'code'}}</td>
                <td>{{list.MATNR}}</td>
                <td>{{list.TXZ01}}</td>
                <td>{{list.MENGE}}</td>
                <td>{{list.MEINS| getName:enumobj:'name':'code'}}</td>
                <td>{{list.MWSKZ | getName:enumobj:'name':'code'}}</td>
                <td>{{list.NETPR | number : 2}}</td>
                <td>{{list.EINDT}}</td>
                <th ><span ng-if="list.RETPO == 'X' ? true : false">是</span><span ng-if="list.RETPO == '' ? true : false">否</span></th>
            </tr>
            </tbody>
        </table>
    </div>
    <pagination ng-show="emerge" conf="paginationConf"></pagination>
</div>
<div class="applyLog" ng-if="activeTab == 2">
    <table>
        <thead>
        <tr>
            <th class="th1">审批人</th>
            <th class="th2">审批时间</th>
            <th class="th3">审批状态</th>
            <th class="th4">审批意见</th>
        </tr>
        </thead>
        <tbody ng-repeat="list in processlog">
        <tr  ng-show="$index==(processlog.length-1)"><td ng-class="$index%2?'blueBack':'orgBack'" colspan="4">新建审批流</td></tr>
        <tr ng-show="$index!=(processlog.length-1)"><td ng-class="$index%2?'blueBack':'orgBack'" colspan="4">第{{processlog.length-1-$index}}次变更审批流</td></tr>
        <tr ng-repeat="item in list.processlog">
            <td>{{item.sender.name}}</td>
            <td>{{item.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item.operation}}</td>
            <td>{{item.content.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="chsBox" class="dialog cusBox" title="查看采购申请" ng-include="'template/purchase/OpurchaseList.html'"></div>
<div id="purListBox" class="dialog cusBox" title="查看销售详情" ng-include="'template/purchase/purList.html'"></div>
