<h3 class="genTitle"><em></em><span>审批流自动更新</span></h3>
<form>
    <div class="genSearch">
        <table>
            <tr>
                <td>
                    <strong>审批类型</strong>
                    <select name="" id="" ng-model="processtype" ng-options="m.code as m.name for m in processType">
                        <option value="">请选择</option>
                    </select>
                </td>
                <td>
                    <strong>单据ID</strong>
                    <input class="text" type="text" name="processid"  ng-init="processid=''" ng-model="processid" placeholder="请输入单据ID">
                </td>
            </tr>
            <tr>
                <td>
                    <strong>自动推送</strong>
                    <select name=""  ng-model="autopass" ng-init="autopass='0'">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                        <option value="2">全推送</option>
                    </select>
                </td>
                <td>
                    <strong>预览</strong>
                    <select name=""  ng-model="preview" ng-init="preview='1'">
                        <option value="">请选择</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>最大修正数量</strong>
                    <input class="text" type="text" ng-model="num" ng-init="num" placeholder='默认全部'/>
                </td>
                <td>
                    <input type="button" value="更新" class="searchbtn2 searchbtn2bot" ng-click="search(processtype,processid,autopass,preview,num)">
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="item">查询结果</div>
<p style="font-size: 16px;">更新数量：{{AllData}}</p>
<div class="item">正确单据</div>
<table class="orangestyle table">
    <thead class="tab_header">
    <tr>
        <th>单据编号</th>
    </tr>
    </thead>
    <tbody class="tab_body"  ng-class="dataList.length > 0 ? 'meg' : 'noMegTip'">
    <tr ng-repeat="list in dataList">
        <td><a target="_blank" href="index.html#/applyUpdataView/{{list.processid}}" class="underline">{{list.processid}}</a></td>
    </tr>
    <tr class="tip"><td colspan="1">没有数据</td></tr>
    </tbody>
</table>
<div class="item" style="color:red;">错误单据</div>
<table class="orangestyle table">
    <thead class="tab_header">
    <tr>
        <th>单据编号</th>
        <th>错误信息</th>
    </tr>
    </thead>
    <tbody class="tab_body"  ng-class="dataList1.length > 0 ? 'meg' : 'noMegTip'">
    <tr ng-repeat="list in dataList1">
        <td><a target="_blank" href="index.html#/applyUpdataView/{{list.processid}}" class="underline">{{list.processid}}</a></td>
        <td>{{list.err}}</td>
    </tr>
    <tr class="tip"><td colspan="2">没有数据</td></tr>
    </tbody>
</table>
