<!--<div class="cusCont">-->
    <div class="generForm">
        <form novalidate name="creditForm">
            <ul>
                <li class="tli">
                    <strong>经营场所：</strong>
                    <select ng-model="ORDER_DATA.jycs">
                        <option value="">请选择</option>
                        <option value="自有">自有</option>
                        <option value="租用高端">租用高端</option>
                    </select>
                </li>
                <li class="tli">
                    <strong>成立日期：</strong>
                    <input class="text Wdate" type="text" name="builddate" ng-init="ORDER_DATA.builddate=''" date-Picker ng-readonly="true"   ng-model="ORDER_DATA.builddate" placeholder="请选择日期">
                </li>
                <li class="tli">
                    <strong>年检年份：</strong>
                    <select ng-model="ORDER_DATA.njnf" >
                        <option value="">请选择</option>
                    </select>
                    <input class="text Wdate" type="text" name="builddate" ng-init="ORDER_DATA.njnf=''" date-Picker ng-readonly="true"   ng-model="ORDER_DATA.njnf" placeholder="请选择日期">
                </li>
                <li class="tli">
                    <strong>是否一般纳税人：</strong>
                    <select ng-model="ORDER_DATA.isybnsr">
                        <option value="">请选择</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </li>
                <li class="tli">
                    <strong>有分支机构：</strong>
                    <select ng-model="ORDER_DATA.branch">
                        <option value="">请选择</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </li>
                <li class="clear"></li>
                <li class="list_con">
                    <strong>风控评估：</strong>
                    <textarea ng-model="ORDER_DATA.khbz" maxlength="2000" placeholder="不超过2000字符"></textarea>
                </li>
                <li class="clear"></li>
                <li class="list_con">
                    <strong>资质说明：</strong>
                    <textarea ng-model="ORDER_DATA.explainqualification" maxlength="2000" placeholder="不超过2000字符"></textarea>
                </li>
                <li class="tli">
                    <strong>授信额度：</strong>
                    <input type="text" ng-readonly="true" ng-model="ORDER_DATA.creditmoney" placeholder="">
                </li>
                <li class="tli">
                    <strong>信用天数：</strong>
                    <input ng-readonly="true" ng-model="ORDER_DATA.days" type="number" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>预付款比例（%）：</strong>
                    <input ng-readonly="true" ng-model="ORDER_DATA.advancepayment" type="number" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>信用状况：</strong>
                    <input ng-readonly="true" ng-model="ORDER_DATA.xyzk" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>信用等级：</strong>
                    <input ng-readonly="true" ng-model="ORDER_DATA.xydj" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>客户信用预警：</strong>
                    <input ng-readonly="true" ng-model="ORDER_DATA.khxyyj" type="text" placeholder=""/>
                </li>
                <li class="clear"></li>
                <li class="formUpStyle">
                    <strong>上传附件：</strong>
                    <input url="/resource/uploadfile" uploadify-All btnname="上传附件" type="file"  ng-model="ORDER_DATA.attachment" placeholder="">
                    <a target="_blank" class="link" href="{{ORDER_DATA.attachment}}">{{docName}}</a>
                </li>
            </ul>
            <div class="addTable viewTable">
                <table>
                    <tr>
                        <th>数据年份</th>
                        <th>营业收入</th>
                        <th>净资产</th>
                        <th>资产负债率(%)</th>
                        <th>实收资本</th>
                        <th>净利润</th>
                        <th>经营活动所产生<br>的现金流量净值</th>
                        <th>销售毛利率(%)</th>
                        <th>总资产周转率(%)</th>
                        <th><a href="javascript:;" ng-click="userAdd('financialdata')" title="添加" class="btnAdd"></a></th>
                    </tr>
                    <tr ng-repeat="list in financialdata ">
                        <td><input type="text" ng-model="list.year" value=""></td>
                        <td><input type="text" ng-model="list.yysr" value=""></td>
                        <td><input type="text" ng-model="list.jzc" value=""></td>
                        <td><input type="text" ng-model="list.zcfzl" value=""></td>
                        <td><input type="text" ng-model="list.sszc" value=""></td>
                        <td><input type="text" ng-model="list.jlr" value=""></td>
                        <td><input type="text" ng-model="list.jyhdcsxjljz" value=""></td>
                        <td><input type="text" ng-model="list.xsmll" value=""></td>
                        <td><input type="text" ng-model="list.zzczzl" value=""></td>
                        <td><a href="javascript:;" ng-click="userDel($index,'financialdata')">删除</a></td>
                    </tr>
                </table>
            </div>

            <div class="addTable viewTable">
                <table>
                    <tr>
                        <th>担保类型</th>
                        <th>担保金额</th>
                        <th>生效时间</th>
                        <th>失效时间</th>
                        <th width="60px"><a href="javascript:;" ng-click="userAdd('guaranteeinfo')" title="添加" class="btnAdd"></a></th>
                    </tr>
                    <tr ng-repeat="list in guaranteeinfo">
                        <td><input type="text" ng-model="list.dblx" value=""></td>
                        <td><input type="text" ng-model="list.dbje" value=""></td>
                        <td><input type="text" class="text Wdate" date-Picker ng-readonly="true"  ng-model="list.startdate" placeholder="请选择日期"></td>
                        <td><input type="text" class="text Wdate" date-Picker ng-readonly="true"  ng-model="list.enddate" placeholder="请选择日期"></td>
                        <td><a href="javascript:;" ng-click="userDel($index,'guaranteeinfo')">删除</a></td>
                    </tr>
                </table>
                <ul>
                    <li class="list_con">
                        <strong>担保说明：</strong>
                        <textarea ng-model="ORDER_DATA.explain" maxlength="2000" placeholder="不超过2000字符"></textarea>
                    </li>
                </ul>
            </div>
            <div class="gerSub">
                <a href="index.html#/creditOrder">返回</a>
                <button ng-click="addData(ORDER_DATA, 'save')" class= 'subSave'>保存
                </button>
                <button ng-click="addData(ORDER_DATA, 'apply')" class= 'subApply'>保存并提交
                </button>
            </div>
        </form>
    </div>
<!--</div>-->
<div id="cusBox" class="dialog cusBox" title="选择客户" ng-include="'template/contract/cusBox.html'"
     ng-controller="cusCusBoxCtrl"></div>