<h2 class="documentTitle approvalTittle"><em class="approvalPic"></em>
    <span ng-show="obj.purOrder">采购订单审批流</span>
    <span ng-show="obj.purRebate">采购返点审批流</span>
    <span ng-show="obj.purchaseList">采购申请审批流</span>
    <span ng-show="obj.receipts">到单申请审批流</span>
    <span ng-show="obj.creditMemo">返点冲抵应收审批流</span>
    <span ng-show="obj.productout">放货单申请审批流</span>
    <span ng-show="obj.reimbursement">费用报销审批流</span>
    <span ng-show="obj.insideOrder">费用申请审批流</span>
    <span ng-show="obj.payment">付款申请审批流</span>
    <span ng-show="obj.loanBill">借出管理审批流</span>
    <span ng-show="obj.iecontractView">进出口销售合同审批流</span>
    <span ng-show="obj.mkinvoice">开票申请审批流</span>
    <span ng-show="obj.issue">开证付汇审批流</span>
    <span ng-show="obj.credit">客户信用管理审批流</span>
    <span ng-show="obj.customer">客户主数据审批流</span>
    <span ng-show="obj.purStore">库存调整单审批流</span>
    <span ng-show="obj.applyTem">框架合同审批流</span>
    <span ng-show="obj.check">盘点报告及处理审批流</span>
    <span ng-show="obj.debitbillList">票据台账审批流</span>
    <span ng-show="obj.sign">签报审批流</span>
    <span ng-show="obj.holiday">请假管理审批流</span>
    <span ng-show="obj.purMaintain">维修采购订单审批流</span>
    <span ng-show="obj.salesbonus">销售返点审批流</span>
    <span ng-show="obj.contract">销售合同—配套销售审批流</span>
    <span ng-show="obj.bankCredit">银行授信管理审批流</span>
</h2>
<div>
    <img ng-src="../img/approval/{{picture}}.gif" alt=""/>
</div>