<div class="ng-scope" ng-init="initPage();">
    <h3 class="genTitle"><em></em><span>上传文档</span></h3>
    <!--<div class="genSearch">-->
    <!--<table>-->
    <!--<tr style="height: 80px;">-->
    <!--<td style="text-align: center">-->
    <!--<input type="button" ng-change="validate()" ngf-select ng-model="docs" ngf-multiple="true"-->
    <!--accept="application/pdf" style="width:140px;height: 30px;background: #EA3F35;color: #fff;"-->
    <!--value="批量上传文件"></input>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    <div ng-show="!(validateOK.length && validateExists.length && validateError.length) || (validateOK.length)">
        <h3 class="genTitle"><em></em><span>校验通过结果列表(共{{validateOK === undefined ? 0 : validateOK.length}}条记录)</span></h3>
        <div class="viewTable ng-scope">
            <div class="addTable" style="padding: 0;">
                <table class="tab_data">
                    <thead class="tab_header">
                    <tr>
                        <th style="text-align: center"><input type="checkbox" ng-model="okAll" ng-click="okSelectAll()"
                                                              style="height: 20px;"/></th>
                        <th>序号</th>
                        <th>文档类型</th>
                        <th>文档名</th>
                        <th>上传者</th>
                        <th>上传日期</th>
                        <th>文件大小</th>
                    </tr>
                    </thead>
                    <tbody class="tab_body">
                    <tr ng-repeat="doc in validateOK">
                        <td><input type="checkbox" ng-model="doc.val" ng-click="setSelected($index)"
                                   style="height: 12px;"/>
                        </td>
                        <td ng-bind="$index+1"></td>
                        <td>{{doc.doc_type}}</td>
                        <td>{{doc.doc_name}}</td>
                        <td>{{doc.uploader}}</td>
                        <td>{{doc.upload_date}}</td>
                        <td>{{(doc.doc_size)/1024/1024 | number: 2}}MB</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="validateExists.length">
        <h3 class="genTitle">
            <em></em><span>系统中已存在的文档结果列表(共{{validateExists === undefined ? 0 : validateExists.length}}条记录)</span></h3>
        <div class="viewTable ng-scope">
            <div class="addTable" style="padding: 0;">
                <table class="tab_data">
                    <thead class="tab_header">
                    <tr>
                        <th style="text-align: center"><input type="checkbox" ng-model="existsAll"
                                                              ng-click="existsSelectAll()" style="height: 20px;"/></th>
                        <th>序号</th>
                        <th>文档类型</th>
                        <th>文档名</th>
                        <th>文件大小</th>
                        <th>系统提示</th>
                    </tr>
                    </thead>
                    <tbody class="tab_body">
                    <tr ng-repeat="doc in validateExists">
                        <td><input type="checkbox" ng-model="doc.val" style="height: 12px;"/></td>
                        <td ng-bind="$index+1"></td>
                        <td>{{doc.doc_type}}</td>
                        <td>{{doc.doc_name}}</td>
                        <td>{{(doc.doc_size)/1024/1024 | number: 2}}MB</td>
                        <td style="color: #DB1508;">{{doc.msg}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="validateError.length">
        <h3 class="genTitle"><em></em><span style="color: red;">校验未通过结果列表(共{{validateError === undefined ? 0 : validateError.length}}条记录)</span>
        </h3>
        <div class="viewTable ng-scope">
            <div class="addTable" style="padding: 0;">
                <table class="tab_data">
                    <thead class="tab_header">
                    <tr>
                        <th>序号</th>
                        <th>文档类型</th>
                        <th>文档名</th>
                        <th>文件大小</th>
                        <th>系统提示</th>
                    </tr>
                    </thead>
                    <tbody class="tab_body">
                    <tr ng-repeat="doc in validateError" style="color: red;">
                        <td ng-bind="$index+1"></td>
                        <td class="tdcolor">{{doc.doc_type}}</td>
                        <td class="tdcolor">{{doc.doc_name}}</td>
                        <td class="tdcolor">{{(doc.doc_size)/1024/1024 | number: 2}}MB</td>
                        <td class="tdcolor">{{doc.msg}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form name="docmgrUploadForm">
        <div class="gerSub">
            <a href="" ng-click="cancelUpload();">取消上传</a>
            <button type="button" ng-disabled="docmgrUploadForm.invalid" ng-change="validate()" ngf-select
                    ng-model="docs" ngf-multiple="true"
                    accept="application/pdf" class="subSave" value="批量上传文件">上传文档
            </button>
            <button type="submit" ng-click="confirmUpload();" class="subApply">确定上传</button>
            <!--<button ng-change="validate('re');" ngf-select ng-model="docs" ngf-multiple="true" accept="application/pdf"-->
            <!--class="subNewData">重新上传-->
            <!--</button>-->
        </div>
    </form>
</div>