<h2 class="documentTitle"><em></em><span>文档说明</span></h2>
<div class="contentTitel">
    <h3><em class="violet"></em><span>销售管理文档使用说明</span></h3>
    <ul >
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-部门担保.pdf">CDWP-用户手册-部门担保</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-返点冲抵应收.pdf">CDWP-用户手册-返点冲抵应收</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-放货申请.pdf">CDWP-用户手册-放货申请</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-进出口销售合同变更.pdf">CDWP-用户手册-进出口销售合同变更</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-进出口销售合同新建.pdf">CDWP-用户手册-进出口销售合同新建</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-销售返点.pdf">CDWP-用户手册-销售返点</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-销售合同变更.pdf">CDWP-用户手册-销售合同变更</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-销售合同新建.pdf">CDWP-用户手册-销售合同新建</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-借出单创建.pdf">CDWP-用户手册-借出单创建</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-借出单还回.pdf">CDWP-用户手册-借出单还回</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-借出单续借.pdf">CDWP-用户手册-借出单续借</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/销售/CDWP-用户手册-手动建立采销关联关系.pdf">CDWP-用户手册-手动建立采销关联关系</a></li>
    </ul>
    <h3><em class="blue"></em><span>采购库存管理文档使用说明</span></h3>
    <ul>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/采购-库存/CDWP-用户手册-采购申请.pdf">CDWP-用户手册-采购申请</a></li>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/采购-库存/CDWP-用户手册-产品占用.pdf">CDWP-用户手册-产品占用</a></li>
     </ul>
    <h3><em class="red"></em><span>审批流说明</span></h3>
    <ul>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=purOrder">采购订单审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=purRebate">采购返点审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=purchaseList">采购申请审批流</a></li>
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=receipts">到单申请审批流</a></li>
-->
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=creditMemo">返点冲抵应收审批流</a></li>
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=productout">放货单申请审批流</a></li>
-->
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=reimbursement">费用报销审批流</a></li>
-->
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=insideOrder">费用申请审批流</a></li>
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=payment">付款申请审批流</a></li>
-->
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=loanBill">借出管理审批流</a></li>
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=iecontractView">进出口销售合同审批流</a></li>
-->
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=mkinvoice">开票申请审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=issue">开证付汇审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=credit">客户信用管理审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=customer">客户主数据审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=purStore">库存调整单审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=applyTem">框架合同审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=check">盘点报告及处理审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=debitbillList">票据台账审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=sign">签报审批流</a></li>
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=holiday">请假管理审批流</a></li>
-->
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=purMaintain">维修采购订单审批流</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=salesbonus">销售返点审批流</a></li>
<!--
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=contract">销售合同—配套销售审批流</a></li>
-->
        <li><em class="contentList redList"></em><a target="_blank" href="index.html#/approval?source=bankCredit">银行授信管理审批流</a></li>
    </ul>
</div>
<div class="contentTitel">
    <h3><em class="blue"></em><span>财务管理文档使用说明</span></h3>
    <ul >

        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/财务/CDWP-用户手册-到账单查询.pdf">CDWP-用户手册-到账单查询</a></li>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/财务/CDWP-用户手册-付款申请.pdf">CDWP-用户手册-付款申请</a></li>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/财务/CDWP-用户手册-开票申请.pdf">CDWP-用户手册-开票申请</a></li>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/财务/CDWP-用户手册-开证付汇.pdf">CDWP-用户手册-开证付汇</a></li>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/财务/CDWP-用户手册-收款计划.pdf">CDWP-用户手册-收款计划</a></li>
        <li><em class="contentList blueList"></em><a target="_blank" href="/doc/document/财务/CDWP-用户手册-银行授信.pdf">CDWP-用户手册-银行授信</a></li>
      </ul>

    <h3><em class="red"></em><span>基础公用功能文档使用说明</span></h3>
    <ul >
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-费用报销申请.pdf">CDWP-用户手册-费用报销申请</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-费用申请单.pdf">CDWP-用户手册-费用申请单</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-文档管理.pdf">CDWP-用户手册-文档管理</a></li>

        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-工资单.pdf">CDWP-用户手册-工资单</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-借款申请.pdf">CDWP-用户手册-借款申请</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-签报.pdf">CDWP-用户手册-签报</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-请休假.pdf">CDWP-用户手册-请休假</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-首页.pdf">CDWP-用户手册-首页</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/基础公用功能/CDWP-用户手册-修改密码.pdf">CDWP-用户手册-修改密码</a></li>
    </ul>
</div>
<div class="contentTitel">
    <h3><em class="red"></em><span>客户管理文档使用说明</span></h3>
    <ul>

        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/客户/CDWP-用户手册-客户信息管理.pdf">CDWP-用户手册-客户信息管理</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/客户/CDWP-用户手册-客户信用管理.pdf">CDWP-用户手册-客户信用管理</a></li>
        <li><em class="contentList redList"></em><a target="_blank" href="/doc/document/客户/CDWP-用户手册-客户信用维护.pdf">CDWP-用户手册-客户信用维护</a></li>
    </ul>
    <h3><em class="violet"></em><span>人力资源文档使用说明</span></h3>
    <ul>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/中建材信息技术股份有限公司-简介.pdf">中建材信息技术股份有限公司-简介</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-人力资源部.pdf">2017年第一期新员工培训-人力资源部</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-运营管理部.pdf">2017年第一期新员工培训-运营管理部</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-财务部.pdf">2017年第一期新员工培训-财务部</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-法务部.pdf">2017年第一期新员工培训-法务部</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-风险管理部.pdf">2017年第一期新员工培训-风险管理部</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-流程管理.pdf">2017年第一期新员工培训-流程管理</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-研发部-系统维护IT.pdf">2017年第一期新员工培训-研发部-系统维护IT</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-研发部-数字化平台.pdf">2017年第一期新员工培训-研发部-数字化平台</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-证券事务部.pdf">2017年第一期新员工培训-证券事务部</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-总经办.pdf">2017年第一期新员工培训-总经办</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/2017年第一期新员工培训-公共关系部.pdf">2017年第一期新员工培训-公共关系部</a></li>







        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/新员工入职指引20170419.pdf">新员工入职指引20170419</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/员工手册2013.05.02.pdf">员工手册2013.05.02</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/通讯录最新.xls">公司通讯录</a></li>
        <li><em class="contentList violetList"></em><a target="_blank" href="/doc/document/人力/FESCO 补充医疗在线服务平台使用说明.pdf">FESCO补充医疗在线服务平台使用说明（2.0版-小额免实体）</a></li>

      </ul>
</div>
