<h3 class="genTitle genTitleBot"><em></em><span>销售返点</span></h3>
<div class="cusCont">
    <div class="generForm">
        <form novalidate name="invoiceForm">
            <ul>
                <li class="tli"><strong>销售返点申请单编号：</strong><span><input type="text" ng-model="ORDER_DATA.code" ng-disabled="true"></span></li>
                <li class="tli"><strong>返点总金额：</strong><span><input type="text" ng-model="ORDER_DATA.total" ng-disabled="true"></span></li>
                <li class="tli"><strong>申请人：</strong><span><input type="text" ng-disabled="true" ng-model="ORDER_DATA.creator.name"></span></li>
                <li class="tli"><strong>部门：</strong><span><input type="text" ng-disabled="true" ng-model="ORDER_DATA.creator.orgname"></span></li>
            </ul>
            <div class="czAddBtn">
                <a href="" class="downloadmb" ng-click="saleDownloadClick()">导出明细</a>
            </div>
            <div class="addTable" style=" overflow:scroll; width: 100%;max-height: 600px;margin-top:30px;">
                <table id="cgList" style="width:200%;">
                    <tr>
                        <th>返点供应商</th>
                        <th><font>*</font>事业部</th>
                        <!--<th>产品线</th>-->
                        <th><font>*</font>返点所属客户名称</th>
                        <th>返点使用客户名称</th>
                        <th><font>*</font>返点类型</th>
                        <th><font>*</font>激励受益类型</th>
                        <th><font>*</font>返点金额</th>
                        <th>返点来源</th>
                        <th>返点编号</th>
                        <th>备注</th>
                    </tr>
                    <tr ng-repeat="list in fdList" class="list">
                        <td>
                            <input ng-disabled="true" ng-model="list.provider" title="{{list.provider}}" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.department.name" title="{{list.department.name}}" type="text" value=""/>
                        </td>
                        <!--<td>-->
                            <!--<input ng-disabled="true" ng-model="list.secondary" title="{{list.secondary}}" type="text" value="" required/>-->
                        <!--</td>-->
                        <td>
                            <input ng-disabled="true" ng-model="list.client.name" title="{{list.client.name}}" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.user.name" title="{{list.user.name}}" type="text" value="" required/>
                        </td>
                        <td>
                            <input  ng-disabled="true" ng-model="list.bonusbase.type" title="{{list.bonusbase.type}}" type="text" value=""/>
                        </td>
                        <td>
                            <input  ng-disabled="true" ng-model="list.bonusbase.benefit" title="{{list.bonusbase.benefit}}" type="text" value="" required/>
                        </td>
                        <td>
                            <input  ng-disabled="true" ng-model="list.bonusmoney.total" title="{{list.bonusmoney.total}}" type="text" value="" required/>
                        </td>
                        <td>
                            <input  ng-disabled="true" ng-model="list.bonusbase.source" title="{{list.bonusbase.source}}" type="text" value="" required/>
                        </td>
                        <td>
                            <input  ng-disabled="true" ng-model="list.code" title="{{list.code}}" type="text" value=""/>
                        </td>
                        <td>
                            <input  ng-disabled="true" ng-model="list.bonusbase.note" title="{{list.bonusbase.note}}" type="text" value=""/>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="clear"></div>
<div class="gerSub">
    <a href="index.html#/salesbonusEdit?processId={{processId}}&nodeId={{nodeId}}" class="subSave" ng-if="editBtn">编辑</a>
</div>
<div class="apCot" ng-if="apCot" >
    <div ng-include="'template/common/apply.html'"></div>
</div>



