<h3 class="genTitle genTitleBot"><em></em><span>销售返点转移</span></h3>
<div class="cusCont">
    <div class="generForm">
        <form novalidate name="invoiceForm">
            <ul>
                <li class="tli">
                    <strong>返点编号：</strong>
                    <input  ng-model="ORDER_DATA.code" ng-disabled="true" type="text" placeholder="请输入"/>
                </li>
                <li class="tli">
                    <strong>返点供应商：</strong>
                    <input ng-model="ORDER_DATA.provider" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>事业部：</strong>
                    <input  ng-model="ORDER_DATA.department.name" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <!--<li class="tli">-->
                    <!--<strong>产品线：</strong>-->
                    <!--<input  ng-model="ORDER_DATA.secondary" ng-disabled="true" type="text" placeholder=""/>-->
                <!--</li>-->
                <li class="tli">
                    <strong>返点所属客户名称：</strong>
                    <input  ng-model="ORDER_DATA.client.name" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>返点使用客户名称：</strong>
                    <input required ng-model="ORDER_DATA.user.name" ng-blur="clientName(ORDER_DATA.user.name)" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>返点类型：</strong>
                    <input  ng-model="ORDER_DATA.bonusbase.type" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>生效日期：</strong>
                    <input value="{{ORDER_DATA.bonusinfo.start | date: 'yyyy-MM-dd HH:mm:ss'}}" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>返点金额（原始值）：</strong>
                    <input value="{{ORDER_DATA.bonusmoney.origintotal.toFixed(2)}}" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>返点金额：</strong>
                    <input value="{{ORDER_DATA.bonusmoney.total.toFixed(2)}}" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong><font>*</font>转移金额：</strong>
                    <input required  ng-model="ORDER_DATA.bonusmoney.transfer" ng-style="zyStyle" ng-change="compare(ORDER_DATA.bonusmoney.transfer,(ORDER_DATA.bonusmoney.total-ORDER_DATA.bonusmoney.freeze-ORDER_DATA.bonusmoney.used))" type="number" placeholder="请输入"/>
                </li>
                <li class="tli">
                    <strong>冻结金额：</strong>
                    <input value="{{ORDER_DATA.bonusmoney.freeze.toFixed(2)}}" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>已用金额：</strong>
                    <input  value="{{ORDER_DATA.bonusmoney.used.toFixed(2)}}" ng-disabled="true" type="text" placeholder=""/>
                </li>
                <li class="tli">
                    <strong>可用金额：</strong>
                    <input  ng-disabled="true" value="{{(ORDER_DATA.bonusmoney.total-ORDER_DATA.bonusmoney.freeze-ORDER_DATA.bonusmoney.used).toFixed(2)}}" type="text" placeholder="自动带出，只读"/>
                </li>

                <li class="clear"></li>
                <li>
                    <strong>转移原因：</strong>
                    <textarea ng-maxlength="200"  name="comment" ng-model="ORDER_DATA.comment" placeholder="最多200个字符"></textarea>
                    <span class="errTip" ng-show="invoiceForm.comment.$dirty && invoiceForm.comment.$error.maxlength">超过200个字符</span>
                </li>
                <li class="clear"></li>
                <!--<li class="formUpStyle">
                    <strong>上传附件：</strong>
                    <input url="/resource/uploadfile" uploadify-All btnname="上传附件" type="file" ng-model="ORDER_DATA.attachment" placeholder="">
                    <a target="_blank" class="link" href="{{ORDER_DATA.attachment}}">{{docName}}</a>
                </li>-->
            </ul>
            <div class="gerSub">
                <!--<div class="formUpStyle">
                    <input url="/resource/uploadfile" uploadify-All btnname="上传附件" type="file" ng-model="ORDER_DATA.attachment" placeholder="">
                    <span target="_blank" class="link" href="{{ORDER_DATA.attachment}}">{{docName}}</span>
                </div>-->
                <a href="index.html#/salesbonusOrder">返回</a>
                <button ng-click="addData(ORDER_DATA)"
                        ng-class="invoiceForm.$invalid == true ? 'displaySub' : 'subApply'"
                        ng-disabled="invoiceForm.$invalid || invoRready">提交审批
                </button>
            </div>
        </form>
    </div>
</div>