<div class="clear"></div>
<div class="applyLog">
    <h3 class="genTitle"><em></em><span>审批记录</span></h3>
    <table>
        <thead>
        <tr>
            <th class="th1">审批人</th>
            <th class="th2">审批时间</th>
            <th class="th3">审批状态</th>
            <th class="th4">审批意见</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in processlog">
            <td>{{list.sender.name}}</td>
            <td>{{list.createDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{list.operation}}</td>
            <td>{{list.content.comment}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="applyCommit">
    <form>
        <textarea ng-model="applyObj.applyIdea" ng-if="textareaBtn" placeholder="请填写意见"></textarea>
        <!--<div ng-repeat="c in candidates">
            <label ng-repeat="m in c.receivers"><input type="checkbox"> {{m.name}}</label>
        </div>-->
        <div class="applyBtn">
            <a class="save" href="javascript:;" ng-if="agreeBtn" ng-click="applySave(applyObj)">保存</a>
            <a class="agree" href="javascript:;" ng-if="agreeBtn" ng-click="applyAgree(applyObj)">同意</a>
            <a class="disagree" href="javascript:;" ng-if="disagreeBtn" ng-click="applyDisagree(applyObj)" title="驳回到上一个审批人">驳回上级</a>
            <a class="recall" href="javascript:;" ng-if="recallBtn" ng-click="applyRecall(applyObj)">召回</a>
            <a class="cancel" href="javascript:;" ng-if="cancelBtn" ng-click="applyCancel(applyObj)" title="驳回到申请人">驳回原点</a>
        </div>

        <div class="clear"></div>
    </form>
</div>