    <div class="item">创建工作流</div>
    <ul class="workflow">
        <li class="purple_gb"><a href="#">合同</a></li>
        <li class="blue_gb"><a href="#">收款计划单</a></li>
        <li class="orange_gb"><a href="/index.html#/insideOrderAdd">费用申请单</a></li>
        <li class="pink_gb"><a href="/index.html#/addCustomer/application">添加客户</a></li>
        <li class="green_gb"><a href="#">考勤管理</a></li>
        <li class="violet_gb"><a href="#">申请报销</a></li>
    </ul>
    <!--<div class="item">
        新闻公告
        <a class="fr" href="#">更多<i class="icon plus"></i></a>
    </div>
    <div class="news">
        <a href="#" class="strip clearfix">
            <span class="fr">12/11</span>
            <span class="fl">中资论的创业公司是一种能够有</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fr">12/11</span>
            <span class="fl">中建材信息新三板挂牌上市</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fr">12/11</span>
            <span class="fl">中建材信息喜获华为5条产品线CSP五</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fr">12/11</span>
            <span class="fl">华为政务行业合作拓展之匙</span>
        </a>
        <a  href="#" class="strip clearfix">
            <span class="fr">12/11</span>
            <span class="fl">中资论的创业公司是一种能够有</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fr">12/11</span>
            <span class="fl">中资论的创业公司是一种能够有</span>
        </a>
    </div>
    <div class="item">最近的工作</div>
    <div class="news">
        <a href="#" class="strip clearfix">
            <span class="fl">工作项目</span>
            <span class="fr">股市低迷之际企业并购的正确方式</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fl">工作项目</span>
            <span class="fr">股市低迷之际企业并购的正确方式</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fl">工作项目</span>
            <span class="fr">股市低迷之际企业并购的正确方式</span>
        </a>
        <a href="#" class="strip clearfix">
            <span class="fl">工作项目</span>
            <span class="fr">股市低迷之际企业并购的正确方式</span>
        </a>
    </div>-->