<h3 class="genTitle" ng-show="!desShow"><em></em><span>付款申请单</span></h3>
<h3 class="genTitle" ng-show="desShow"><em></em><span>付款申请单-作废</span></h3>
<ul class="generNav">
    <li class="active" ng-show="!desShow"><a href="javascript:;">付款申请单</a></li>
    <li class="active"  ng-show="desShow"><a href="javascript:;">付款申请单-作废</a></li>
</ul>
<input type="button" value="新建银行授信申请单" class="searchbtn2 searchbtn2bot" ng-click="bankGoBox()" ng-if="bankShow&&ORDER_DATA.ZHB=='N'&&!desShow">
<a class="searchbtn2 viewBtn" href="" ng-click="printFn($event)" target="_blank"  ng-show="!desShow&&printShow">打印</a>

<div id="mainView">
    <form novalidate name="invoiceForm">
    <div class="viewTable ng-scope">
        <div style="overflow-y:hidden;overflow-x:auto; width: 100%;height: 100%">
        <ul>
            <li ng-if="!payState"><strong>付款申请号：</strong><span>{{ORDER_DATA.ZSQNO}}</span></li>
            <li ng-if="payState"><strong>合并付款单号：</strong><span>{{ORDER_DATA.ZSQNO}}</span></li>
            <li><strong>申请日期：</strong><span>{{ORDER_DATA.ZSQRQ}}</span></li>
            <li><strong>部门：</strong><span>{{ORDER_DATA.ZSQBM}}</span></li>
            <li><strong class="blueTille">付款主体：</strong><span class="blue">{{{1000:"中建材信息技术股份有限公司",9000:"中建材集团进出口公司",9001:"中国建材（香港）有限公司"}[ORDER_DATA.ZFKZT]}}</span></li>
            <li><strong class="blueTille">供应商名称：</strong><span  title="{{ORDER_DATA.ZSKDW}}" class="blue">{{ORDER_DATA.ZSKDW}}</span></li>
            <li><strong>供应商编号：</strong><span>{{ORDER_DATA.LIFNR}}</span></li>
            <li class="tli"><strong><font>*</font>银行名称：</strong>
                <input ng-required="true" title="{{ORDER_DATA.ZYHMC_CN}}" ng-hide="bankChange||desShow||payState" ng-readonly="true" ng-model="ORDER_DATA.ZYHMC_CN" type="text" placeholder="" ng-click="bankName(ORDER_DATA.LIFNR)"/>
                <span ng-show="bankChange || desShow || payState">{{ORDER_DATA.ZYHMC_CN}}</span>
            </li>
            <li class="tli" title=" {{ORDER_DATA.ZYHZH}}"><strong><font>*</font>银行帐号：</strong>
                {{ORDER_DATA.ZYHZH}}
            </li>
            <li class="tli" ><strong>汇入地点（省）：</strong>
                {{getField(provinceData, 'BLAND',ORDER_DATA.PROVZ ).BEZEI}}
            </li>
            <li class="tli" ><strong>汇入地点（市）：</strong>
                {{ORDER_DATA.ORT01}}
            </li>
            <li class="tli">
                <strong><font>*</font>付款方式：</strong>
                <select ng-model="ORDER_DATA.ZFKFS" ng-required="true" ng-hide="canChange">
                    <option value="">请选择</option>
                    <option value="支票">支票</option>
                    <option value="延期支票">延期支票</option>
                    <option value="电汇">电汇</option>
                    <option value="银行承兑汇票">银行承兑汇票</option>
                    <option value="商业承兑汇票">商业承兑汇票</option>
                    <option value="国内信用证">国内信用证</option>
                    <option value="流动资金贷款">流动资金贷款</option>
                    <option value="华为小额定期">华为小额定期</option>
                    <option value="银承背书转让">银承背书转让</option>
                    <option value="转口代付">转口代付</option>
                    <option value="银行汇票">银行汇票</option>
                </select>
                <span ng-show="canChange">{{ORDER_DATA.ZFKFS}}</span>
            </li>
            <li><strong>付款种类：</strong><span>{{BU1}}-{{BU2}}{{BU3}}</span></li>
            <li><strong class="blueTille">货币种类：</strong><span class="blue">{{WAERS}}</span></li>
            <li><strong>资金占用部门：</strong><span>{{{1000:'信息产品事业群',2000:'合作业务部',3000:'医疗产品部',9900:'综合'}[ORDER_DATA.ZBM]}}</span></li>
            <li><strong>成本中心：</strong>
                <span>{{cenData[ORDER_DATA.KOSTL]}}</span></li>
            <li><strong>申请付款金额：</strong><span>{{ORDER_DATA.ZSQJE | number:2}}</span></li>
            <li><strong>未核销金额：</strong><span>{{ORDER_DATA.ZWHXJE | number:2}}</span></li>
            <li><strong>计划付款时间：</strong><span>{{ORDER_DATA.ZJHDAT}}</span></li>
            <li ng-if="type1"><strong>开证/付汇银行：</strong><span>{{ORDER_DATA.ZKZBANK}}</span></li>
            <li><strong class="blueTille">实际付款金额：</strong><span class="blue">{{ORDER_DATA.ZSJFKJE | number:2}}</span></li>
            <li class="tli"><strong>是否合并付款：</strong>
                <select ng-model="ORDER_DATA.ZHB" name="ZHB" ng-hide="hbPay">
                    <option value="Y">是</option>
                    <option value="N">否</option>
                </select>
                <span ng-show="hbPay">{{{Y:"是",N:"否"}[ORDER_DATA.ZHB]}}</span>
            </li>
            <li><strong>垫付款情况：</strong>
                <span ng-show="bankChange || desShow || payState">{{ORDER_DATA.ZDFQK}}</span>
                <select ng-model="ORDER_DATA.ZDFQK" name="ZDFQK" ng-hide="bankChange||desShow||payState" >
                    <option value="非垫付款">非垫付款</option>
                    <option value="是垫付款-已返还">是垫付款-已返还</option>
                    <option value="是垫付款-未返还">是垫付款-未返还</option>
                </select>
            </li>
            <li ng-if="!payState"><strong>合并付款单号：</strong><span>{{ORDER_DATA.ZSQNO_HB}}</span></li>
            <li ng-show="desShow"><strong>作废状态：</strong><span>{{{X:'是',"":'否'}[ORDER_DATA.LOEVM]}}</span></li>
            <li><strong>申请人：</strong><span>{{ORDER_DATA.AUFUSER0}}</span></li>
            <li ng-if="!payState"><strong>采购商务：</strong><span>{{ORDER_DATA.ZCGSW}}</span></li>
            <li><strong>上传附件：</strong><span><a target="_blank" style="text-decoration:underline" class="link" href="{{ORDER_DATA.ZURL}}">{{ORDER_DATA.ZURLNAM}}</a></span></li>
            <li class="list_con"><strong>直发地址：</strong><span>{{ORDER_DATA.ZZFDZ}}</span></li>
            <li class="list_con"><strong style="float: left">备注：</strong><pre><span style="float: left;width: 96%">{{ORDER_DATA.ZBZ}}</span></pre></li>
        </ul>
            <div class="gerSub" ng-if="transportShow">
                <a class="dwonTem" href="javascript:;" ng-click="transportClick()">查看运输委托单</a>
            </div>
            <div class="addTable" ng-if="payState">
                <h5>付款详情</h5>
                <table class="tab_data">
                    <thead class="tab_header">
                    <tr>
                        <th>付款申请单号</th>
                        <th>供应商订单号</th>
                        <th>采购订单号</th>
                        <th>付款种类</th>
                        <th>付款方式</th>
                        <th >申请付款金额</th>
                        <th >实际支付金额</th>
                       <!-- <th >未核销金额</th>-->
                        <th>计划付款时间</th>
                        <th>申请人</th>
                    </tr>
                    </thead>
                    <tbody class="tab_body">
                    <tr ng-repeat="list in payList">
                        <td>
                            <a href="index.html#/paymentOrderView/{{list.ZSQNO}}" style="text-decoration:underline;color: #003eff ">{{list.ZSQNO}}</a>
                        </td>
                        <td>{{list.ZZPO}}</td>
                        <td>{{list.EBELN}}</td>
                        <td>{{getField(payData, 'CODE1',list.ZFKZL.substring(0,2)).TITLE}}</td>
                        <td>{{list.ZFKFS}}</td>
                        <td >{{list.ZSQJE | number:2}}</td>
                        <td >{{list.ZSJFKJE| number:2}}</td>
                        <!--<td >{{list.ZWHXJE | number:2}}</td>-->
                        <td>{{list.ZJHDAT}}</td>
                        <td>{{list.AUFUSER0}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <div class="addTable" ng-if="cgOrder">
            <h5>采购订单</h5>
            <table class="tab_data">
                <thead class="tab_header">
                <tr>
                    <th>采购订单号</th>
                    <th>供应商订单号</th>
                    <th>采购组织</th>
                    <th>订单类型</th>
                    <th>产品线</th>
                    <th>运输方式</th>
                    <th>采购商务</th>
                    <th>交货日期</th>
                    <th>订单金额</th>
                    <th>应付编号</th>
                    <th>应付金额</th>
                    <th>申请支付金额</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="tab_body">
                <tr ng-repeat="list in cgList">
                    <td title="{{list.EBELN}}">{{list.EBELN}}</td>
                    <td title="{{list.ZZPO}}">{{list.ZZPO}}</td>
                    <td title="{{enumObj.EKORG[list.EKORG]}}">{{enumObj.EKORG[list.EKORG]}}</td>
                    <td title="{{enumObj.BSART[list.BSART]}}">{{enumObj.BSART[list.BSART]}}</td>
                    <td title="{{enumObj.ZZCP[list.ZZCP]}}">{{enumObj.ZZCP[list.ZZCP]}}</td>
                    <td title="{{list.ZZYS}}">{{list.ZZYS}}</td>
                    <td title="{{list.ZSWRY}}">{{list.ZSWRY}}</td>
                    <td title="{{list.ZZJHRQ}}">{{list.ZZJHRQ}}</td>
                    <td title="{{list.ZPOJE}}">{{list.ZPOJE}}</td>
                    <td title="{{list.ZYWYF}}">{{list.ZYWYF}}</td>
                    <td title="{{list.ZYFJE}}">{{list.ZYFJE| number:2}}</td>
                    <td title="{{list.ZSQJE}}">{{list.ZSQJE| number:2}}</td>
                    <td>

                   <a class="underline" target="_blank" ng-if="list.EKORG != '9000' && list.EKORG != '9001' && list.BSART != 'ZB6' && list.BSART != 'ZB7' && list.BSART != 'ZB8'" href="index.html#/purOrderView/{{list.EBELN}}">采购详情</a>
                    <a class="underline" target="_blank" ng-if="list.EKORG == '9000' || list.EKORG == '9001'" href="index.html#/pojckView/{{list.EBELN}}">采购详情</a>
                    <a class="underline" target="_blank" ng-if="list.BSART == 'ZB6' || list.BSART == 'ZB7' || list.BSART == 'ZB8'" href="index.html#/purMaintainView/{{list.EBELN}}">采购详情</a>
                    <a style="text-decoration:underline" href="javascript:;" ng-click="saleDir($index,list.ZZPO,list.ZZSDPO)">销售详情</a>
                        <a style="text-decoration:underline" href="javascript:;" ng-click="incomDir($index,list.ZZPO,list.ZZSDPO)">收款情况</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="fr totleNumBox">申请支付金额小计：<span>{{sumcgList}}</span></p>
        </div>
        <div class="addTable" ng-if="cgOrder">
            <h5>冲抵核销信息</h5>


                <table id="cxList">
                    <tr>
                        <th>冲抵类型</th>
                        <th>流水号</th>
                        <th>供应商订单号</th>
                        <th>原始金额</th>
                        <th ng-show="!desShow">可用冲抵金额</th>
                        <th>采购订单号</th>
                        <th>冲抵金额</th>
                        <th ng-hide="bankChange"><a href="javascript:;" ng-click="comeAdd('cxList')" title="添加" class="btnAdd"></a></th>
                    </tr>
                    <!--<tr ng-repeat="list in cx1List">
                        <td>{{list.ZCDLX}}</td>
                        <td>{{list.ZSQNO_YF}}</td>
                        <td>{{list.ZZPO}}</td>
                        <td>{{list.left| number:2}}</td>
                        <td>{{list.EBELN}}</td>
                        <td>{{list.ZCDJE | number:2}}</td>
                        <td></td>
                    </tr>-->
                    <tr ng-repeat="list in cxList" class="list">
                        <td>
                            <select ng-model="list.ZCDLX" ng-change="cxSelect($index ,list.ZCDLX)" ng-disabled="list.ZCDLX=='品牌基金/能力提升'||bankChange">
                                <option value="">请选择冲抵类型</option>
                                <option value="抵扣款">抵扣款</option>
                                <option value="品牌基金/能力提升" ng-disabled="true">品牌基金/能力提升</option>
                                <option value="挂账款">挂账款</option>
                            </select>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.ZSQNO_YF" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.ZZPO" type="text" value=""/>
                        </td>
                        <td>
                            <input ng-disabled="true" ng-model="list.ZJE" type="text" value=""/>
                        </td>
                        <td ng-show="!desShow">
                            <input ng-disabled="true" ng-model="list.left" type="text" value=""/>
                        </td>
                        <td>
                            <input  ng-model="list.EBELN" name="EBELN{{$index}}" required type="text" value="" ng-blur="cgCode(list.EBELN,$index)" ng-disabled="list.ZCDLX=='品牌基金/能力提升'||bankChange"/>
                            <p class="errTip" ng-if="invoiceForm['EBELN'+$index].$dirty && invoiceForm['EBELN'+$index].$error.required">必填</p>
                        </td>
                        <td>
                            <input ng-model="list.ZCDJE" required ng-Focus keepnumber-Validation name="ZCDJE{{$index}}" class="listNum" type="text" ng-blur="sumFn1(list.left,list.ZCDJE,'cxList',$index)" value="" ng-disabled="list.ZCDLX=='品牌基金/能力提升'||bankChange"/>
                            <p class="errTip" ng-if="invoiceForm['ZCDJE'+$index].$dirty && invoiceForm['ZCDJE'+$index].$error.keepnum&&!invoiceForm['ZCDJE'+$index].$focused">最多两位小数的非负数</p>
                            <p class="errTip" ng-if="invoiceForm['ZCDJE'+$index].$dirty && invoiceForm['ZCDJE'+$index].$error.required">必填</p>

                        </td>
                        <td ng-hide="list.ZCDLX=='品牌基金/能力提升'||bankChange"><a href="javascript:;" ng-click="comeDel($index,'cxList')">删除</a></td>
                    </tr>

                    <!--<tr><td colspan="3">冲抵核销信息合计：</td></tr>-->
                </table>
                <p class="fr totleNumBox">冲抵核销信息合计：<span>{{sumcxList}}</span></p>



        </div>
        <div class="addTable" ng-if="glOrder">
            <h5>费用申请单</h5>
            <table class="tab_data" id="nbList">
                <thead class="tab_header">
                <tr>
                    <th>费用申请单号</th>
                    <th>费用流水号</th>
                    <th>申请标题</th>
                    <th>预算总金额</th>
                    <th>未使用金额</th>
                    <th>本次申请支付金额</th>
                </tr>
                </thead>
                <tbody class="tab_body">
                <tr ng-repeat="list in nbList">
                    <td><a style="text-decoration: underline" target="_blank" href="index.html#/insideOrderView/{{list.AUFNR}}">{{list.AUFNR}}</a></td>
                    <td>{{list.AUFEX}}</td>
                    <td title="{{list.ZSQNR}}">{{list.ZSQNR| cutfield:true:15:'...'}}</td>
                    <td>{{list.ZYSJE| number:2}}</td>
                    <td>{{list.WZYFP| number:2}}</td>
                    <td>{{list.ZSQJE| number:2}}</td>
                </tr>
                </tbody>
            </table>
            <p class="fr totleNumBox">费用申请单合计：<span>{{sumnbList | number:2}}</span></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="gerSub">
        <a class="subSave" href="index.html#/paymentOrderEdit?processId={{processId}}&nodeId={{nodeId}}" ng-if="editBtn">编辑</a>
    </div>
    <div class="apCot" ng-if="apCot" >
        <div ng-include="'template/common/apply.html'"></div>
    </div>
</div>
        </form>
</div>
<div id="cxBox" class="dialog cusBox" title="冲抵核销-挂帐款" ng-include="'template/payment/cxbox.html'" ng-controller="cxCtrl"></div>
<div  id="dkBox" class="dialog cusBox" title="冲抵核销-抵扣查询">
    <div ng-if="openDialog"   ng-include="'template/payment/dkBox.html'" ng-controller="dkCtrl"></div>
</div>
<div  id="cxppBox" class="dialog cusBox" title="冲抵核销-品牌基金">
    <div ng-if="cxppDialog"   ng-include="'template/payment/cxppbox.html'" ng-controller="cxppCtrl"></div>
</div>
<div id="saleBox" class="dialog cusBox" title="销售详情" ng-include="'template/payment/saleBox.html'"></div>
<div id="incomeBox" class="dialog cusBox" title="收款情况" ng-include="'template/payment/incomeBox.html'"></div>
<div id="approversDialog" class="dialog cusBox" title="选择下一审批人" ng-include="'template/common/approvers.html'" ></div>
<div id="bankBox" class="dialog cusBox" title="银行信息" ng-include="'template/payment/bankBox.html'"></div>
<div id="transportBox" class="dialog cusBox" title="" ng-include="'template/payment/transport.html'"></div>
