<form>
    <div class="genSearch">
        <table>
            <tr>
                <td>
                    <strong style="width:100px;">供应商名称</strong>
                    <input  style="width:230px;" class="text" type="text" name="$parent.ZSKDW"  ng-init="$parent.ZSKDW=''" ng-model="$parent.ZSKDW" placeholder="请输入名称">
                </td>
                <td>
                    <input type="button" value="查询" class="searchbtn2" ng-click="search()">
                </td>
            </tr>
        </table>
    </div>
</form>
<table class="orangestyle table">
    <thead>
    <tr>
        <th>供应商编号</th>
        <th>供应商名称</th>
        <th>银行名称</th>
        <th>银行帐号</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody ng-class="dataList.length > 0 ? 'meg' : 'noMegTip'">
    <tr ng-repeat="list in dataList">
        <td>{{list.LIFNR}}</td>
        <td>{{list.NAME1+list.NAME2}}</td>
        <td>{{list.BANKA}}</td>
        <td>{{list.BANKN}}</td>
        <td>
            <a href="javascript:;" ng-click="cusSelect(list.LIFNR, list.NAME1+list.NAME2, list.BANKA, list.BANKN,list.PROVZ,list.ORT01)">选择</a>
        </td>
    </tr>
    <tr class="tip"><td colspan="5">没有查到供应商</td></tr>
    </tbody>
</table>
<pagination conf="paginationConf"></pagination>