<h3 class="genTitle genTitleBot"><em></em><span>新增到单申请</span></h3>
<div class="cusCont">
    <div class="generForm">
        <form novalidate name="invoiceForm">
            <ul>
                <!--<li class="tli">
                    <strong>到单申请号：</strong>
                    <span>{{ORDER_DATA.ZSQNO}}</span>
                </li>-->
                <li class="tli">
                    <strong><font>*</font>到单日期：</strong>
                    <input id="Dday" type="text" class="Wdate" date-Picker ng-readonly="true" ng-model="ORDER_DATA.ZDDAT" required>
                </li>
                <li class="tli">
                    <strong><font>*</font>到单/付汇日汇率：</strong>
                    <input onkeyup="value=value.replace(/[^\-?\d.]/g,'')" numfour-Validation ng-Focus type="text" name="ZRHL" ng-model="ORDER_DATA.ZRHL" required>
                    <span class="errTip ng-hide" ng-show="invoiceForm.ZRHL.$dirty && invoiceForm.ZRHL.$error.numfour && !invoiceForm.ZRHL.$focused">最多四位小数</span>
                </li>
                <li class="tli">
                    <strong><font>*</font>是否押汇：</strong>
                    <select ng-model="ORDER_DATA.ZSFYH" ng-change="typeChange(ORDER_DATA.ZSFYH)" required>
                        <option value="">请选择</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </li>
                <div ng-if="billType">
                    <li class="tli">
                        <strong><font>*</font>押汇期限（天）：</strong>
                        <input type="text" maxlength="7" ng-model="ORDER_DATA.ZYHQX" required ng-change="Date(ORDER_DATA.ZDDAT,ORDER_DATA.ZYHQX)">
                    </li>
                    <li class="tli">
                        <strong>承付（押汇）日期：</strong>
                        <input id="cfDay" class="Wdate" date-Picker onClick="WdatePicker({minDate:'#F{$dp.$D(\'Dday\')}'})" type="text" ng-model="ORDER_DATA.ZCFDAT" ng-readonly="true" required ng-disabled="cfDateDis">
                    </li>
                </div>
                <li class="tli">
                    <strong><font>*</font>实际融资方式：</strong>
                    <select required ng-model="ORDER_DATA.ZRZFS">
                        <option value="">请选择</option>
                        <option value="代付">代付</option>
                        <option value="押汇">押汇</option>
                        <option value="直接付汇">直接付汇</option>
                        <option value="押汇锁汇">押汇锁汇</option>
                    </select>
                </li>
            </ul>
            <div class="addTable">
                <div class="genTitle2">
                    <div>
                        <strong>列表信息</strong>
                    </div>
                </div>
                <table id="listTable">
                    <tr>
                        <th><font>*</font>采购订单号</th>
                        <th>境外采购付款方式</th>
                        <th>开证付汇申请号</th>
                        <th>付款类型</th>
                        <th>已开证付汇金额</th>
                        <th>已到单金额</th>
                        <th><font>*</font>到单金额</th>
                        <th>备注</th>
                        <th><a href="javascript:;" ng-click="comeAdd('items')" title="添加" class="btnAdd"></a></th>
                    </tr>
                    <tr ng-repeat="list in comeList" class="list">
                        <td>
                            <input type="text" ng-model="list.EBELN" ng-click="purchase($index)" required>
                        </td>
                        <td><input type="text" ng-model="list.ZFKFS" ng-disabled="true"></td>
                        <td><input type="text" ng-model="list.ZKZFH" ng-disabled="true" required></td>
                        <td><input type="text" ng-disabled="true" ng-model="list.ZFKLX" required></td>
                        <td><input type="number" ng-disabled="true" ng-model="list.ZKZFHJE" required></td>
                        <td><input type="number" ng-disabled="true" ng-model="list.YDDJE"  required></td>
                        <td>
                            <input ng-Change keepnumber-Validation name="ZDDJE{{$index}}" type="number" required ng-model="list.ZDDJE" ng-blur="billje($index,list.ZDDJE,list.ZKZFHJE,list.YDDJE,list.ZKZFH)">
                            <p class="errTip" ng-if="invoiceForm['ZDDJE'+$index].$dirty && invoiceForm['ZDDJE'+$index].$error.keepnum&&!invoiceForm['ZDDJE'+$index].$focused">最多两位小数的非负数</p>
                        </td>
                        <td>
                            <input  type="text" value="" ng-model="list.ZBZ"/>
                        </td>
                        <td><a href="javascript:;" ng-click="comeDel($index,'items')">删除</a></td>
                    </tr>
                </table>
            </div>
            <div class="gerSub">
                <a href="index.html#/receipts">返回</a>
                <button ng-click="addData(ORDER_DATA, 'save')" class="subSave">保存</button>
                <button ng-click="addData(ORDER_DATA, 'apply')" class="subSave">保存并提交</button>
                <!--<button ng-click="update(addInvo,'addInvoice')"  ng-class="myForm.$invalid == true ? 'displaySub' : 'subSave'" ng-disabled="invoiceForm.$invalid || invoRready">保存</button>
                <button ng-click="update(addInvo,'addInvoice')"  ng-hide="invoApproveBtn" ng-class="myForm.$invalid == true ? 'displaySub' : 'subSave'" ng-disabled="invoiceForm.$invalid || invoRready">提交审批</button>
            -->
            </div>
        </form>
    </div>
</div>

<div id="cusBox" class="dialog cusBox" title="" ng-include="'template/receiptsApply/cuxbox.html'" ng-controller="cuxboxCtrl"></div>
<div id="approversDialog" class="dialog cusBox" title="选择下一审批人" ng-include="'template/common/approvers.html'" ></div>
